@*@model List<WebVentas.ObjectModel.SupervisorRequest>*@
@model WebVentas.ObjectModel.SupervisorRequest
@using WebVentas.ObjectModel
<link href="~/css/tabla/table.css" rel="stylesheet" />
@{ var modelo = new SupervisorRequest { OpcionMenu = 3 }; }
@{ Html.RenderPartial("_PartialView", modelo);}
@{
    ViewBag.Title = "Compromisos";
}

<link href="~/css/tabla/table.css" rel="stylesheet" />

<!-- MAIN CONTENT -->

<div id="content">
    @Html.HiddenFor(x => x.ListaVendedores)
    @Html.HiddenFor(x => x.ListarCliente)
    <div class="row col col-lg-12">
        <form id="buscar" method="post" novalidate="novalidate">
            <section class="col col-lg-5">
                <label>Vendores</label>
                <label class="input">
                    @Html.DropDownList("IdVendedor", null, htmlAttributes: new { @class = "form-control" })
                </label>
            </section>
            <section class="col col-lg-5">
                <label>Cliente</label>
                <label class="input">
                    <select id="cliente" name="IdCliente"></select>
                    @*@Html.DropDownList("IdVendedors", null, htmlAttributes: new { @class = "form-control" })*@
                </label>
            </section>
            <section class="col col-lg-5">
                <label>Fecha Inicio</label>
                <label class="input">
                    <input name="FechaInicio" placeholder="dd/mm/yy" readonly="readonly" class="form-control datepicker" data-dateformat='dd/mm/yy' />
                </label>
            </section>

            <section class="col col-lg-5">
                <label>Fecha Fin</label>
                <label class="input">
                    <input name="FechaFin" placeholder="dd/mm/yy" readonly="readonly" class="form-control datepicker" data-dateformat='dd/mm/yy' />
                </label>
            </section>

            <section class="col col-lg-2">
                <label>&nbsp;&nbsp;&nbsp;&nbsp;</label>
                <button type="submit" id="buscar" class="btn btn-primary">
                    <i class="fa fa-search fa-lg"></i>
                </button>
            </section>
            <section class="col col-lg-12">
                <table id="datatable_fixed_column" class="table table-striped table-bordered table-hover" width="100%">
                    <thead>
                        <tr>
                            <th>
                                @Html.DisplayNameFor(model => model.Nombres)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Apellidos)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Direccion)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Direccion)
                            </th>
                            <th>Opciones</th>
                        </tr>
                    </thead>
                    <tbody>
                        @if (modelo.Listarcompromiso != null)
                        {
                            foreach (var item in Model.Listarcompromiso)
                            {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.IdCompromiso)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.tipocompromiso)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Descripcion)

                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Solucion)

                            </td>
                            <td>
                                @Html.ActionLink("Editar", "Edit", new { id = item.idVisita }) |

                                @*@Html.ActionLink("Desactivar", "Delete", new { id = item.IdUsuario }, new { onclick = "return confirm('Desea desactivar supervisor... ?');" })*@

                            </td>
                        </tr>
                            }
                        }
                    </tbody>
                </table>
            </section>
        </form>
    </div>
</div>
<!-- END MAIN CONTENT -->

@section pagespecific{
    <!-- PAGE RELATED PLUGIN(S) -->


    <link href="~/Scripts/libs/waitMe/waitMe.css" rel="stylesheet" />
    <link href="~/Scripts/libs/waitMe/waitMe.min.css" rel="stylesheet" />
    <script src="~/Scripts/libs/waitMe/waitMe.min.js"></script>


    <script type="text/javascript">


    // Cliente por Vendedor

    $("#IdVendedor").change(function () {
    //mostrarLoadingPanel("content", "Cargando...")

    $("#cliente").empty();
    //$("#IdParroquia").empty();

    $.ajax({
    type: 'POST',
    url: '@Url.Action("ClienteVendor")',
    dataType: 'json',
        data: { idVendedor: $("#IdVendedor").val() },
        success: function (data) {
            if (data == true) {
                alert("");
                return false;
            }
    $("#cliente").append('<option value="0" selected="selected" disabled="">Seleccione</option>');
    $.each(data, function (i, data) {

        $("#cliente").append('<option value="' + data.IdCliente + '">' + data.IdCliente + ' </option>');

    });
    }, complete: function (data) {
    $("#content").waitMe("hide");
    },

    error: function (ex) {
    alert('Failed to retrieve data.' + ex);
    }
    });
    return false;
    })
    </script>
}


