@model WebVentas.ObjectModel.ClienteRequest
@{
    /**/

    ViewBag.Title = "Edit";
}


@Html.AntiForgeryToken()


<link rel="stylesheet" href="~/Scripts/libs/waitMe/waitMe.min.css" />

<link rel="stylesheet" href="~/Scripts/libs/waitMe/waitMe.css" />

<script src="~/Scripts/libs/waitMe/waitMe.min.js"></script>

<style>

    #map_container {
        position: relative;
    }



    #map {
        height: 0;
        overflow: hidden;
        padding-bottom: 30.25%;
        padding-top: 10px;
        position: relative;
    }
</style>
<link href="~/Content/css/Personalizado.css" rel="stylesheet" />
<div id="content">
    <p></p>
    <a href="../../clientes/Index" id="regresar" type="bt" title="Regresar" class="btn btn-default butoon"><i class="glyphicon glyphicon-arrow-left"></i></a>
    <p></p>

    <div class="row">
        <article class="col-sm-12 col-md-12 col-lg-12">
            <section id="widget-grid" class="">

                <div class="row">

                    <article class="col-sm-12 col-md-12 col-lg-12">

                        <div class="jarviswidget" id="wid-id-1" data-widget-editbutton="false" data-widget-close="false" data-widget-custombutton="false">

                            <header draggable="true">

                                <span class="widget-icon"> <i class="fa fa-map-marker"></i> </span>
                                <h2>Click sobre el mapa para editar la ubicaci&oacute;n.</h2><br />

                            </header>

                            <div>

                                <div class="jarviswidget-editbox">

                                </div>

                                <div class="widget-body no-padding">

                                    <fieldset>

                                        <div class="row">

                                            <div class="col-sm-12">

                                                <div id="map_container"></div>

                                                <div id="map"></div>

                                            </div>

                                        </div>

                                    </fieldset>

                                </div>

                            </div>

                        </div>

                    </article>

                </div>

            </section>
            <section id="widget-grid" class="">
                <div class="row">
                    <article class="col-sm-12 col-md-12 col-lg-12">
                        <div class="jarviswidget" id="wid-id-1" data-widget-editbutton="true" data-widget-custombutton="false">
                            <header>
                                <span class="widget-icon"> <i class="fa fa-edit"></i> </span>
                                <h2>Editar cliente</h2>
                            </header>
                            <div>
                                <div class="jarviswidget-editbox">
                                </div>
                                <div class="widget-body no-padding">
                                    @using (Html.BeginForm("Edit", "Clientes", FormMethod.Post, new { id = "frm-adjuntar", @class = "smart-form", enctype = "multipart/form-data" }))
    {
                                @Html.HiddenFor(model => model.IdCliente)
                                @Html.HiddenFor(model => model.Latitud)
                                @Html.HiddenFor(model => model.Longitud)
                                @Html.HiddenFor(model => model.Estado)
                                @Html.HiddenFor(model => model.Foto)
                                @Html.HiddenFor(model => model.Firma)
                                <fieldset>
                                    <article>
                                        <div class="row">
                                            <section class="col col-lg-12">
                                                <label>@Html.DisplayNameFor(model => model.RazonSocial)</label>
                                                <label class="input">
                                                    <input maxlength="100" id="RazonSocial" value="@Model.RazonSocial" pattern="[0-9 a-z A-Z ñÑáéíóúÁÉÍÓÚ\s]+" name="RazonSocial" class="form-control" />
                                                    @Html.ValidationMessageFor(model => model.RazonSocial, "", new { @class = "text-danger" })
                                                </label>
                                            </section>
                                        </div>
                                        <div class="row">
                                            <section class="col col-lg-6" style="height:150px;">
                                                <img src="@Model.Firma" class="col col-lg-6" style="align-content" width="100%" height="100%" />
                                                <br />
                                                <label class="col-lg-12">&nbsp;&nbsp;&nbsp;&nbsp;<b>Firma</b></label>
                                            </section>
                                            <section class="col col-lg-6" style="height:150px;">
                                                <img src="@Model.Foto" class="col col-lg-6" width="100%" height="100%" />
                                                <br />
                                                <label class="col-lg-12">&nbsp;&nbsp;&nbsp;&nbsp;<b>Logo</b></label>
                                            </section>
                                        </div>
                                        <legend>Datos del cliente</legend>
                                        <br />
                                        <div class="row">
                                            <section class="col col-6">
                                                <label>Seleccionar logo...</label>
                                                <div class="input input-file">
                                                    <input id="fileUpload" type="file" name="fileUpload" value="Seleccionar logo" onchange="loadFile(event)">
                                                    <script>
                                                        var imgByte;
                                                        var loadFile = function (event) {
                                                            var output = document.getElementById('output');
                                                            output.data = URL.createObjectURL(event.target.files[0]);
                                                            imgByte = event.target.files[0];
                                                            document.getElementById("fotocliente").style.visibility = "visible";
                                                        };
                                                    </script>
                                                </div>
                                            </section>
                                            <section class="col col-6">
                                                <label>@Html.DisplayNameFor(model => model.Nombre)</label>
                                                <label class="input">
                                                    <input maxlength="100" id="Nombre" value="@Model.Nombre" pattern="[0-9,a-z A-Z ñÑáéíóúÁÉÍÓÚ\s]+" name="Nombre" class="form-control" />
                                                    @Html.ValidationMessageFor(model => model.Nombre, "", new { @class = "text-danger" })
                                                </label>
                                            </section>
                                        </div>
                                        <br />
                                        <div class="row">
                                            <section id="fotocliente" class="col col-6">
                                                <section class="col col-lg-12">
                                                    <object id="output" type="" width="100%" height="100%"></object>
                                                </section>
                                            </section>
                                            <section class="col col-6">
                                                <label>@Html.DisplayNameFor(model => model.Apellido)</label>
                                                <label class="input">
                                                    <input maxlength="100" id="Apellido" value="@Model.Apellido" pattern="[0-9,a-z A-Z ñÑáéíóúÁÉÍÓÚ\s]+" name="Apellido" class="form-control" />
                                                    @Html.ValidationMessageFor(model => model.Apellido, "", new { @class = "text-danger" })
                                                </label>
                                            </section>
                                            <section class="col col-lg-6">
                                                <label>@Html.DisplayNameFor(model => model.Direccion)</label>
                                                <label class="input">
                                                    <input maxlength="250" id="Direccion" value="@Model.Direccion" pattern="[0-9,a-z A-Z ñÑáéíóúÁÉÍÓÚ\s]+" name="Direccion" class="form-control" />
                                                    @Html.ValidationMessageFor(model => model.Direccion, "", new { @class = "text-danger" })
                                                </label>
                                            </section>
                                        </div>
                                        <div class="row">
                                            <section class="col col-3">
                                                <label>@Html.DisplayNameFor(model => model.Telefono)</label>
                                                <label class="input">

                                                    <input name="Telefono" id="Telefono" value="@Model.Telefono" pattern="[0-9]+" data-mask="999999999" class="form-control" />
                                                    @Html.ValidationMessageFor(model => model.Telefono, "", new { @class = "text-danger" })
                                                </label>
                                            </section>
                                            <section class="col col-3">
                                                <label>@Html.DisplayNameFor(model => model.TelefonoMovil)</label>
                                                <label class="input">
                                                    <input name="TelefonoMovil" id="TelefonoMovil" value="@Model.TelefonoMovil" pattern="[0-9]+" data-mask="9999999999" class="form-control" />
                                                    @Html.ValidationMessageFor(model => model.TelefonoMovil, "", new { @class = "text-danger" })
                                                </label>
                                            </section>
                                            <section class="col col-3">
                                                <label>@Html.DisplayNameFor(model => model.Identificacion)</label>
                                                <label class="input">
                                                    <input maxlength="20" id="Identificacion" name="Identificacion" value="@Model.Identificacion" class="form-control" pattern="[0-9, a-z A-Z ]+" required />
                                                    @Html.ValidationMessageFor(model => model.Identificacion, "", new { @class = "text-danger" })
                                                </label>
                                            </section>
                                            <section class="col col-3">
                                                <label>@Html.DisplayNameFor(model => model.Email)</label>
                                                <label class="input">
                                                    <input maxlength="100" id="Email" name="Email" value="@Model.Email" pattern="[A-Za-z0-9._%+-]+@("@")[a-z0-9.-]+.[a-z]{2,3}" class="form-control" required />
                                                    @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
                                                </label>
                                            </section>
                                        </div>
                                        <div class="row">
                                            <section class="col col-6">
                                                <label>@Html.DisplayNameFor(model => model.IdTipoCliente)</label>
                                                <label class="input">
                                                    @Html.DropDownList("IdTipoCliente", null, htmlAttributes: new { @class = "form-control" })
                                                    @Html.ValidationMessageFor(model => model.IdTipoCliente, "", new { @class = "text-danger" })
                                                </label>
                                            </section>
                                            <section class="col col-6">
                                                <label>@Html.DisplayNameFor(model => model.IdVendedor)</label>
                                                <label class="input">
                                                    @Html.DropDownList("IdVendedor", null, htmlAttributes: new { @class = "form-control" })
                                                    @Html.ValidationMessageFor(model => model.IdVendedor, "", new { @class = "text-danger" })
                                                </label>
                                            </section>
                                        </div>
                                        <footer>
                                            <button type="submit" id="editarCliente" class="btn btn-primary">
                                                Guardar
                                            </button>
                                            <a class=" btn btn-default" id="regresar1" href="/clientes/index">Cancelar</a>
                                        </footer>
                                    </article>
                                </fieldset>
}

                                </div>
                            </div>
                        </div>
                    </article>
                </div>
            </section>
        </article>
    </div>
</div>

@section pagespecific {
    <script type="text/javascript">
        var opcion = 0;
        var MyMarker = null;
        $(document).ready(function () {
            $("#regresar").click(function () {
                $('#content').waitMe({
                    effect: 'bounce',
                    text: '',
                    bg: 'rgba(255, 255, 255, 0.1)',
                    color: '#ff5722'
                });
            });
            $("#regresar1").click(function () {
                $('#content').waitMe({
                    effect: 'bounce',
                    text: '',
                    bg: 'rgba(255, 255, 255, 0.1)',
                    color: '#ff5722'
                });
            });
        })
    </script>

    <script>

        var opcion = 1;
        var MyMarker = null;
        var marker;
        var iconCPN;
        function initMap() {
             iconCPN =
                {
                    //con el icono

                    size: new google.maps.Size(96, 96),
                    scaledSize: new google.maps.Size(48, 48), // scaled size
                    origin: new google.maps.Point(0, 0), // origin
                    anchor: new google.maps.Point(24, 48), // anchor
                    url: "../../Imagenes/pushpin cliente-01.png" // url
                };


            var lat1 = $("#Latitud").val().replace(",",".");
            var log = $("#Longitud").val().replace(",", ".");
            var myLatLng = { lat: parseFloat(lat1), lng: parseFloat(log) };

            var map = new google.maps.Map(document.getElementById('map'), {
                zoom: 15,
                center: myLatLng
            });

                     marker = new google.maps.Marker({
                        position: myLatLng,
                        map: map,
                        icon:iconCPN,
                    });
                    var contentString = '<div id="content">' +
                        '<div id="siteNotice">' +
                        '</div>' +
                        '<h4 id="firstHeading" class="firstHeading"><b>Cajero</b></h4>' +
                        '<img src="../../Content/images/cajero.jpg" />' + '<legend></legend>' +
                        '<div id="bodyContent">' +
                        '<p><b>Nombre del vendedor:&nbsp&nbsp</b>' + "@Model.NombresVendedor" + '.</p>' +
                        '<p><b>Nombre:</b>' + "@Model.Nombre @Model.Apellido" + '.</p>' +

                        '</div>' +
                        '</div>';
                    var infowindow = new google.maps.InfoWindow();

                    google.maps.event.addListener(marker, "click", (function (marker, contentString, infowindow) {
                        // !!! PROBLEM HERE
                        return function (evt) {

                            infowindow.setContent(contentString);
                            infowindow.open(map, marker);
                        }
                    })(marker, contentString, infowindow));

                    map.addListener('click', function (e) {
                        placeMarkerAndPanTo(e.latLng, map);
                    });

        }

        function placeMarkerAndPanTo(latLng, map) {

            marker.setMap(null);
            if (MyMarker != null) {
                MyMarker.setMap(null);
            }

                    var markerNuevo = new google.maps.Marker({
                        position: latLng,
                        icon:iconCPN,
                        map: map,
                    });

                    MyMarker = markerNuevo;
                    var latitud = MyMarker.position.lat();
                    var longitud = MyMarker.position.lng();
                    $("#Latitud").val(latitud);
                    $("#Longitud").val(longitud);
                    map.panTo(latLng);

                }

        var nombre;
        var modelo;

        var cordenadas;
    </script>


    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBy7xHSOffrWxVEax1kniS5-OxrWCuF4JU&libraries=drawing&callback=initMap"
            async defer></script>

    @*<script type="text/javascript">

        $("#editarCliente").click(function () {

                if (MyMarker == null) {

                    latitud = $("#Latitud").val();
                    longitud = $("#Longitud").val();

            }
                else {
                    var latitud = MyMarker.position.lat();
                    var longitud = MyMarker.position.lng();
                }
                        $.ajax({

                            type: 'POST',

                            url: href = '@Url.Action("EditarCliente")',

                            dataType: 'json',

                            data: {
                                razonSocial: $("#RazonSocial").val(),
                                flatitud: latitud,
                                flongitud: longitud,
                                idcliente: $("#IdCliente").val(),
                                nombre: $("#Nombre").val(),
                                apellido: $("#Apellido").val(),
                                telefono: $("#Telefono").val(),
                                telefonomovil: $("#TelefonoMovil").val(),
                                identificacion: $("#Identificacion").val(),
                                email: $("#Email").val(),
                                tipocliente: $("#IdTipoCliente").val(),
                                vendedor: $("#IdVendedor").val(),
                                direccion: $("#Direccion").val()
                            },

                            success: function (data) {

                               if (data == true) {

                                      location.href = '@Url.Action("Index")';

                                    }
                                    if (data == "Error") {

                                        alert("Ha ocurrido un error al conectarse al servicio");
                                        $("#content").waitMe("hide");
                                        return false;

                                    }
                                    if (data == "Existe") {

                                        alert("Existe un cliente con igual información");
                                        $("#content").waitMe("hide");
                                        return false;

                                    }
                                    if (data == false) {

                                        alert("Ha ocurrido un error inesperado");
                                        $("#content").waitMe("hide");
                                        return false;

                                    }

                            }, complete: function (data) {

                                $("#content").waitMe("hide");

                            },

                            error: function (ex) {

                                alert('Failed to retrieve data.' + ex);

                            }

                        });

            })
    </script>*@

}