@model CuelloUterino.ModeloDatos.Informe

@{
    ViewBag.Title = "Edit";
}

<link rel="stylesheet" href="~/Scripts/libs/waitMe/waitMe.min.css" />
<link rel="stylesheet" href="~/Scripts/libs/waitMe/waitMe.css" />
<script src="~/Scripts/libs/waitMe/waitMe.min.js"></script>

<div id="content">

    <p></p>
    <a href="../../informes/Index" id="regresar" type="bt" style="color:#3276B1" title="Regresar" class="btn btn-default"><i class="glyphicon glyphicon-arrow-left"></i>    </a>
    <p></p>
    <!-- widget grid -->
    <section id="widget-grid" class="">
        @Html.HiddenFor(model => model.IdInforme)
        <div class="row">
            <article class="col-sm-12 col-md-12 col-lg-12">
                <div class="jarviswidget" id="wid-id-1" data-widget-editbutton="true" data-widget-custombutton="false">
                    <header>
                        <span class="widget-icon"> <i class="fa fa-edit"></i> </span>
                        <h2>EDITAR TAMIZAJE DE CÁNCER CÉRVICOUTERINO</h2>
                    </header>
                    <div>
                        <div class="jarviswidget-editbox">
                        </div>
                        <div class="widget-body no-padding">
                            <form id="checkout-form" method="post" class="smart-form" novalidate="novalidate">
                                @Html.HiddenFor(model => model.IdInforme)
                                @Html.AntiForgeryToken()
                                <fieldset>
                                    <article>
                                        <h4><b>@Html.DisplayNameFor(model => model.IdInforme):  @Model.IdInforme</b></h4>
                                        <legend>Datos personales</legend>
                                        <br />
                                        <div class="row">
                                            <section class="col col-6">
                                                <label>@Html.DisplayNameFor(model => model.Nombres)</label>
                                                <label class="input">
                                                    @Html.EditorFor(model => model.Nombres, new { htmlAttributes = new { @class = "form-control" } })
                                                    @Html.ValidationMessageFor(model => model.Nombres, "", new { @class = "text-danger" })
                                                </label>
                                            </section>
                                            <section class="col col-6">
                                                <label>@Html.DisplayNameFor(model => model.Apellidos)</label>
                                                <label class="input">
                                                    @Html.EditorFor(model => model.Apellidos, new { htmlAttributes = new { @class = "form-control" } })
                                                    @Html.ValidationMessageFor(model => model.Apellidos, "", new { @class = "text-danger" })
                                                </label>
                                            </section>
                                        </div>

                                        <div class="row">
                                            <section class="col col-2">
                                                <label>@Html.DisplayNameFor(model => model.Edad)</label>
                                                <label class="input">
                                                    <input maxlength="2" name="Edad" value="@Model.Edad" type="number" class="form-control" />
                                                    @Html.ValidationMessageFor(model => model.Edad, "", new { @class = "text-danger" })
                                                </label>
                                            </section>
                                            <section class="col col-2">
                                                <label>@Html.DisplayNameFor(model => model.FechaMuestra)</label>
                                                <label class="input">
                                                    <input name="FechaMuestra" value="@Model.FechaMuestra.ToShortDateString()" readonly="readonly" class="form-control datepicker" data-dateformat='dd/mm/yy' />
                                                    @Html.ValidationMessageFor(model => model.FechaMuestra, "", new { @class = "text-danger" })
                                                </label>
                                            </section>
                                            <section class="col col-2">
                                                <label>@Html.DisplayNameFor(model => model.HistoriaClinica)</label>
                                                <label class="input">
                                                    <input maxlength="5" name="HistoriaClinica" value="@Model.HistoriaClinica" class="form-control" type="number" />
                                                    @Html.ValidationMessageFor(model => model.HistoriaClinica, "", new { @class = "text-danger" })
                                                </label>
                                            </section>

                                            <section class="col col-3">
                                                <label>@Html.DisplayNameFor(model => model.Identificacion)</label>
                                                <label class="input">
                                                    <input maxlength="30" name="Identificacion" value="@Model.Identificacion" class="form-control" type="number" />
                                                    @Html.ValidationMessageFor(model => model.Identificacion, "", new { @class = "text-danger" })
                                                </label>
                                            </section>
                                            <section class="col col-3">
                                                <label>@Html.DisplayNameFor(model => model.Correo)</label>
                                                <label class="input">

                                                    <input maxlength="60" name="Correo" value="@Model.Correo" class="form-control" />
                                                    @Html.ValidationMessageFor(model => model.Correo, "", new { @class = "text-danger" })
                                                </label>
                                            </section>
                                        </div>

                                        <div class="row">
                                            <section class="col col-3">
                                                <label>@Html.DisplayNameFor(model => model.TelefonoConvencional)</label>
                                                <label class="input">

                                                    <input name="TelefonoConvencional" value="@Model.TelefonoConvencional" data-mask="999999999" class="form-control" />
                                                    @Html.ValidationMessageFor(model => model.TelefonoConvencional, "", new { @class = "text-danger" })
                                                </label>
                                            </section>
                                            <section class="col col-3">
                                                <label>@Html.DisplayNameFor(model => model.TelefonoCelular)</label>
                                                <label class="input">

                                                    <input name="TelefonoCelular" value="@Model.TelefonoCelular" data-mask="9999999999" class="form-control" />
                                                    @Html.ValidationMessageFor(model => model.TelefonoCelular, "", new { @class = "text-danger" })
                                                </label>
                                            </section>
                                            <section class="col col-3">
                                                <label>@Html.DisplayNameFor(model => model.CitologiaVPH)</label>
                                                @if (Model.CitologiaVPH)
                {
                                <label class="checkbox">
                                    <input type="checkbox" name="CitologiaVPH" value="true" checked="checked">
                                    <input type="hidden" name="CitologiaVPH" value="false" />
                                    <i></i>
                                </label>
}
else
{
                                <label class="checkbox">
                                    <input type="checkbox" name="CitologiaVPH" value="true">
                                    <input type="hidden" name="CitologiaVPH" value="false" checked="checked" />
                                    <i></i>
                                </label>
}
                                            </section>
                                            <section class="col col-3">
                                                <label>@Html.DisplayNameFor(model => model.Histopatologia)</label>
                                                @if (Model.Histopatologia)
                {
                                <label class="checkbox">
                                    <input type="checkbox" name="Histopatologia" value="true" checked="checked">
                                    <input type="hidden" name="Histopatologia" value="false" />
                                    <i></i>
                                </label>
}
else
{
                                <label class="checkbox">
                                    <input type="checkbox" name="Histopatologia" value="true">
                                    <input type="hidden" name="Histopatologia" value="false" checked="checked" />
                                    <i></i>
                                </label>
}

                                            </section>


                                        </div>
                                    </article>
                                    <br />
                                    <article>
                                        <legend>Referencia</legend>
                                        <br />
                                        <div class="row">
                                            <section class=" col col-lg-12">
                                                <label>@Html.DisplayNameFor(model => model.NombresApellidosReferencia)</label>
                                                <label class="input">
                                                    <input maxlength="120" value="@Model.NombresApellidosReferencia" name="NombresApellidosReferencia" class="form-control" />
                                                    @Html.ValidationMessageFor(model => model.NombresApellidosReferencia, "", new { @class = "text-danger" })
                                                </label>
                                            </section>
                                        </div>
                                        <div class="row">
                                            <section class="col col-4">
                                                <label>@Html.DisplayNameFor(model => model.GradoAfinidad)</label>
                                                <label class="input">
                                                    <input maxlength="15" value="@Model.GradoAfinidad" name="GradoAfinidad" class="form-control" />
                                                    @Html.ValidationMessageFor(model => model.GradoAfinidad, "", new { @class = "text-danger" })
                                                </label>
                                            </section>
                                            <section class="col col-4">
                                                <label>@Html.DisplayNameFor(model => model.TelefonoCelularReferencia)</label>
                                                <label class="input">
                                                    <input name="TelefonoCelularReferencia" value="@Model.TelefonoCelularReferencia" data-mask="9999999999" class="form-control" />
                                                    @Html.ValidationMessageFor(model => model.TelefonoCelularReferencia, "", new { @class = "text-danger" })
                                                </label>
                                            </section>
                                            <section class="col col-4">
                                                <label>@Html.DisplayNameFor(model => model.TelefonoConvencionalReferencia)</label>
                                                <label class="input">
                                                    <input name="TelefonoConvencionalReferencia" value="@Model.TelefonoConvencionalReferencia" data-mask="999999999" class="form-control" />
                                                    @Html.ValidationMessageFor(model => model.TelefonoConvencionalReferencia, "", new { @class = "text-danger" })
                                                </label>
                                            </section>
                                        </div>
                                    </article>
                                    <br />
                                    <article>
                                        <legend>Datos básicos para citología vaginal</legend>
                                        <br />
                                        <div class="row">
                                            <section class="col col-3">
                                                <label>@Html.DisplayNameFor(model => model.IdMaterial)</label>
                                                <label class="input">
                                                    @Html.DropDownList("IdMaterial", null, htmlAttributes: new { @class = "form-control" })
                                                    @Html.ValidationMessageFor(model => model.IdMaterial, "", new { @class = "text-danger" })
                                                </label>
                                            </section>
                                            <section class="col col-3">
                                                <label>@Html.DisplayNameFor(model => model.IdParidad)</label>
                                                <label class="input">
                                                    @Html.DropDownList("IdParidad", null, htmlAttributes: new { @class = "form-control" })
                                                    @Html.ValidationMessageFor(model => model.IdParidad, "", new { @class = "text-danger" })
                                                </label>
                                            </section>


                                            <section class="col col-3">
                                                <label>@Html.DisplayNameFor(model => model.IdAnticoncepcion)</label>
                                                <label class="input">
                                                    @Html.DropDownList("IdAnticoncepcion", null, htmlAttributes: new { @class = "form-control" })
                                                    @Html.ValidationMessageFor(model => model.IdAnticoncepcion, "", new { @class = "text-danger" })
                                                </label>
                                            </section>

                                            <section class="col col-3">
                                                <label>@Html.DisplayNameFor(model => model.IdEdades)</label>
                                                <label class="input">
                                                    @Html.DropDownList("IdEdades", null, htmlAttributes: new { @class = "form-control" })
                                                    @Html.ValidationMessageFor(model => model.IdEdades, "", new { @class = "text-danger" })
                                                </label>
                                            </section>
                                        </div>
                                        <div class="row">


                                            <section class="col col-3">
                                                <label>@Html.DisplayNameFor(model => model.UltimaMenstruacion)</label>
                                                <label class="input">
                                                    <input name="UltimaMenstruacion" value="@Model.UltimaMenstruacion" readonly="readonly" class="form-control datepicker" data-dateformat='dd/mm/yy' />
                                                    @Html.ValidationMessageFor(model => model.UltimaMenstruacion, "", new { @class = "text-danger" })
                                                </label>
                                            </section>
                                            <section class="col col-3">
                                                <label>@Html.DisplayNameFor(model => model.UltimaCitologia)</label>
                                                <label class="input">
                                                    <input name="UltimaCitologia" value="@Model.UltimaCitologia" readonly="readonly" class="form-control datepicker" data-dateformat='dd/mm/yy' />
                                                    @Html.ValidationMessageFor(model => model.UltimaCitologia, "", new { @class = "text-danger" })
                                                </label>
                                            </section>
                                            <section class="col col-3">
                                                <label>@Html.DisplayNameFor(model => model.UltimoParto)</label>
                                                <label class="input">
                                                    <input name="UltimoParto" value="@Model.UltimoParto" readonly="readonly" class="form-control datepicker" data-dateformat='dd/mm/yy' />
                                                    @Html.ValidationMessageFor(model => model.UltimoParto, "", new { @class = "text-danger" })
                                                </label>
                                            </section>
                                            <section class="col col-3">
                                                <label>@Html.DisplayNameFor(model => model.TerapiaHormonal)</label>
                                                @if (Model.TerapiaHormonal)
                {
                                <label class="checkbox">
                                    <input type="checkbox" name="TerapiaHormonal" value="true" checked="checked">
                                    <input type="hidden" name="TerapiaHormonal" value="false" />
                                    <i></i>
                                </label>
}
else
{
                                <label class="checkbox">
                                    <input type="checkbox" name="TerapiaHormonal" value="true">
                                    <input type="hidden" name="TerapiaHormonal" value="false" checked="checked" />
                                    <i></i>
                                </label>

}
                                            </section>

                                        </div>
                                        <div class="row">
                                            <section class="col col-lg-12">
                                                <label>@Html.DisplayNameFor(model => model.IdDiagnosticoCitologico)</label>
                                                <label class="input">
                                                    @Html.DropDownList("IdDiagnosticoCitologico", null, htmlAttributes: new { @class = "form-control" })
                                                    @Html.ValidationMessageFor(model => model.IdDiagnosticoCitologico, "", new { @class = "text-danger" })
                                                </label>
                                            </section>
                                        </div>
                                    </article>
                                    <br />
                                    <article>
                                        <legend>Informe de captura híbrida para el Virus del Papiloma Humano (VPH)</legend>
                                        <br />
                                        <div class="row">

                                            <section class="col col-6">
                                                <label>@Html.DisplayNameFor(model => model.IdValoracion)</label>
                                                <label class="input">
                                                    @Html.DropDownList("IdValoracion", null, htmlAttributes: new { @class = "form-control" })
                                                    @Html.ValidationMessageFor(model => model.IdValoracion, "", new { @class = "text-danger" })
                                                </label>
                                            </section>

                                            <section class="col col-6">
                                                <label>@Html.DisplayNameFor(model => model.IdResultadoPruebaHibrida)</label>
                                                <label class="input">
                                                    @Html.DropDownList("IdResultadoPruebaHibrida", null, htmlAttributes: new { @class = "form-control" })
                                                    @Html.ValidationMessageFor(model => model.IdResultadoPruebaHibrida, "", new { @class = "text-danger" })
                                                </label>
                                            </section>

                                        </div>
                                        <fieldset>
                                            <div class="row">
                                                <section>
                                                    <label>@Html.DisplayNameFor(model => model.Recomendaciones)</label>
                                                    <label class="textarea">
                                                        <textarea rows="10" cols="60" maxlength="2000" name="Recomendaciones">@Model.Recomendaciones</textarea>
                                                        @Html.ValidationMessageFor(model => model.Recomendaciones, "", new { @class = "text-danger" })
                                                    </label>
                                                </section>
                                            </div>
                                        </fieldset>

                                    </article>
                                    <br />
                                    <article>
                                        <legend>Informe de histopatología</legend>
                                        <br />
                                        <div class="row">
                                            <section class="col col-6">

                                                <label>@Html.DisplayNameFor(model => model.Coloscopia)</label>
                                                @if (Model.Coloscopia)
    {
                                            <label class="checkbox">
                                                <input type="checkbox" name="Coloscopia" value="true" checked="checked">
                                                <input type="hidden" name="Coloscopia" value="false" />
                                                <i></i>
                                            </label>
}
else
{
                                            <label class="checkbox">
                                                <input type="checkbox" name="Coloscopia" value="true" >
                                                <input type="hidden" name="Coloscopia" value="false" checked="checked" />
                                                <i></i>
                                            </label>
}

                                            </section>
                                            <section class="col col-6">
                                                <label>@Html.DisplayNameFor(model => model.Biopsia)</label>
                                                @if (Model.Biopsia)
    {
                                            <label class="checkbox">
                                                <input type="checkbox" name="Biopsia" value="true" checked="checked">
                                                <input type="hidden" name="Biopsia" value="false"  />
                                                <i></i>
                                            </label>
}
else
{
                                            <label class="checkbox">
                                                <input type="checkbox" name="Biopsia" value="true">
                                                <input type="hidden" name="Biopsia" value="false" checked="checked" />
                                                <i></i>
                                            </label>
}
                                            </section>


                                        </div>
                                        <br />
                                        <div class="row">
                                            <section class="col col-6">
                                                <label>@Html.DisplayNameFor(model => model.IdMuestraPieza)</label>
                                                <label class="input">
                                                    @Html.DropDownList("IdMuestraPieza", null, htmlAttributes: new { @class = "form-control" })
                                                    @Html.ValidationMessageFor(model => model.IdMuestraPieza, "", new { @class = "text-danger" })
                                                </label>
                                            </section>
                                            <section class="col col-6">
                                                <label>@Html.DisplayNameFor(model => model.IdTipoHistologico)</label>
                                                <label class="input">
                                                    @Html.DropDownList("IdTipoHistologico", null, htmlAttributes: new { @class = "form-control" })
                                                    @Html.ValidationMessageFor(model => model.IdTipoHistologico, "", new { @class = "text-danger" })
                                                </label>
                                            </section>
                                        </div>

                                    </article>
                                    <br />
                                </fieldset>
                                <footer>
                                    <button type="submit" class="btn btn-primary">
                                        Guardar
                                    </button>
                                    <a class=" btn btn-default" id="regresar1" href="/../../informes/index">Cancelar</a>
                                </footer>
                            </form>

                        </div>
                    </div>
                </div>
            </article>
        </div>
    </section>
</div>
@section pagespecific {
    @Scripts.Render("~/bundles/jqueryval")

    <script type="text/javascript">
        $(document).ready(function () {

            $("#regresar1").click(function () {
                $('#content').waitMe({
                    effect: 'ios',
                    text: '',
                    bg: 'rgba(255, 255, 255, 0.1)',
                    color: '#118df9'
                });
            });
            $("#regresar").click(function () {
                $('#content').waitMe({
                    effect: 'ios',
                    text: '',
                    bg: 'rgba(255, 255, 255, 0.1)',
                    color: '#118df9'
                });
            });

            var $checkoutForm = $('#checkout-form').validate({
                // Rules for form validation
                rules: {
                    Nombres: {
                        required: true
                    },
                    Apellidos: {
                        required: true
                    },
                    Correo: {
                        required: true,
                        email: true
                    },
                    Edad: {
                        required: true
                    },
                    FechaMuestra: {
                        required: true
                    },
                    Identificacion: {
                        required: true,
                        digits: true
                    },
                    HistoriaClinica: {
                        required: true,

                    },
                    TelefonoConvencional: {
                        required: true
                    },
                    TelefonoCelular: {
                        required: true
                    },
                    NombresApellidosReferencia: {
                        required: true

                    },
                    GradoAfinidad: {
                        required: true,
                    },
                    Telefono: {
                        required: true
                    },
                    IdEstudio: {
                        required: true
                    },

                    IdMaterial: {
                        required: true
                    },
                    TerapiaHormonal: {
                        required: true
                    },
                    IdAnticoncepcion: {
                        required: true
                    },
                    IdEdades: {
                        required: true
                    },
                    IdParidad: {
                        required: true
                    },
                    IdFechas: {
                        required: true
                    },
                    IdDiagnosticoCitologico: {
                        required: true
                    },

                    IdValoracion: {
                        required: true
                    },
                    IdResultadoPruebaHibrida: {
                        required: true
                    },
                    Recomendaciones: {
                        required: true
                    },
                    IdMuestraPieza: {
                        required: true
                    },
                    IdTipoHistologico: {
                        required: true
                    },

                },

                // Messages for form validation
                messages: {
                    Nombres: {
                        required: ""
                    },
                    Apellidos: {
                        required: ""
                    },
                    Correo: {
                        required: "",
                        email: "Formato de correo INVÁLIDO"
                    },
                    Edad: {
                        required: ""
                    },
                    FechaMuestra: {
                        required: ""
                    },
                    Identificacion: {
                        required: ""
                    },
                    HistoriaClinica: {
                        required: ""

                    },
                    TelefonoConvencional: {
                        required: ""
                    },
                    TelefonoCelular: {
                        required: ""
                    },
                    NombresApellidosReferencia: {
                        required: ""

                    },
                    GradoAfinidad: {
                        required: ""
                    },
                    Telefono: {
                        required: ""
                    },
                    IdEstudio: {
                        required: ""
                    },

                    IdMaterial: {
                        required: ""
                    },
                    TerapiaHormonal: {
                        required: ""
                    },
                    IdAnticoncepcion: {
                        required: ""
                    },
                    IdEdades: {
                        required: ""
                    },
                    IdParidad: {
                        required: ""
                    },
                    IdFechas: {
                        required: ""
                    },
                    IdDiagnosticoCitologico: {
                        required: ""
                    },

                    IdValoracion: {
                        required: ""
                    },
                    IdResultadoPruebaHibrida: {
                        required: ""
                    },
                    Recomendaciones: {
                        required: ""
                    },
                    IdMuestraPieza: {
                        required: ""
                    },
                    IdTipoHistologico: {
                        required: ""
                    },
                },

                // Do not change code below
                errorPlacement: function (error, element) {
                    error.insertAfter(element.parent());
                }
            });


            // START AND FINISH DATE
            $('#startdate').datepicker({
                dateFormat: 'dd.mm.yy',
                prevText: '<i class="fa fa-chevron-left"></i>',
                nextText: '<i class="fa fa-chevron-right"></i>',
                onSelect: function (selectedDate) {
                    $('#finishdate').datepicker('option', 'minDate', selectedDate);
                }
            });

            $('#finishdate').datepicker({
                dateFormat: 'dd.mm.yy',
                prevText: '<i class="fa fa-chevron-left"></i>',
                nextText: '<i class="fa fa-chevron-right"></i>',
                onSelect: function (selectedDate) {
                    $('#startdate').datepicker('option', 'maxDate', selectedDate);
                }
            });



        })



    </script>
}

