@model IEnumerable<WebVentas.ObjectModel.ClienteRequest>

@{
    ViewBag.Title = "Index";
}

<link rel="stylesheet" href="~/Scripts/libs/waitMe/waitMe.min.css" />
<link rel="stylesheet" href="~/Scripts/libs/waitMe/waitMe.css" />
<script src="~/Scripts/libs/waitMe/waitMe.min.js"></script>
<script src="~/Scripts/libs/waitMe/waitMe.js"></script>
<link href="~/Content/css/Personalizado.css" rel="stylesheet" />

<div id="content">
    <div class="row">
        <form id="buscar" method="post">
            <section class="col col-lg-2"> <a href="../Clientes/Create" id="nuevo" type="bt" title="Nuevo" class="btn btn-default butoon"><i class="glyphicon glyphicon-plus"></i>    </a></section>
            <section class="col col-lg-3">
                <label><b>@Html.DisplayNameFor(model => model.FirstOrDefault().Estado):</b></label>
                <label class="input">
                    @Html.DropDownList("IdEstadoCliente", null, htmlAttributes: new { @class = "form-control" })
                </label>
            </section>
            <section class="col col-lg-2">
                <label>&nbsp;&nbsp;&nbsp;&nbsp;</label>
                <button type="submit" id="butoon" class="buscar btn btn-default butoon">
                    <i class="fa fa-search fa-lg"></i>
                </button>
            </section>
        </form>
    </div>
    <p></p>
    <p></p>
    <section id="" class="">
        <div class="row">
            <article class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <div class="jarviswidget" id="wid-id-0" data-widget-editbutton="false">
                    <header id="table">
                        <span class="widget-icon"> <i class="fa fa-table"></i> </span>
                        <h2>Clientes</h2>
                    </header>
                    <div>
                        <div class="jarviswidget-editbox">
                        </div>
                        <div class="widget-body no-padding">
                            <table id="datatable_fixed_column" class="table table-striped table-bordered table-hover" width="100%">
                                <thead>
                                    <tr>
                                        <th data-class="expand">Nombres y apellidos</th>
                                        <th data-hide="phone">Identificación</th>
                                        <th data-hide="phone">Email</th>
                                        <th data-hide="phone"> Teléfono</th>
                                        <th data-hide="phone">Teléfono móvil</th>
                                        <th data-hide="phone,tablet"> Tipo de cliente </th>
                                        <th data-hide="phone,tablet"> Vendedor </th>
                                        <th data-hide="phone,tablet"> Opciones </th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var item in Model)
                                    {
                                        <tr>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.Nombre)  @Html.DisplayFor(modelItem => item.Apellido)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.Identificacion)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.Email)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.Telefono)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.TelefonoMovil)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.TipoCliente)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.NombresVendedor) @Html.DisplayFor(modelItem => item.ApellidosVendedor)
                                            </td>
                                            @if (item.Estado == 0)
                                            {
                                                <td>
                                                    @Html.ActionLink("Perfil", "PerfilCliente", new { id = item.IdCliente }, new { @class = "perfil" })
                                                    @Html.ActionLink("Editar", "Edit", new { id = item.IdCliente }, new { @class = "editar" }) |
                                                    @Html.ActionLink("Activar", "Activar", new { id = item.IdCliente, idEstado = item.Estado }, new { @class = "activar" })
                                                </td>
                                            }
                                            @if (item.Estado == 1)
                                            {
                                                <td>
                                                    @Html.ActionLink("Perfil", "PerfilCliente", new { id = item.IdCliente }, new { @class = "perfil" })
                                                    @Html.ActionLink("Editar", "Edit", new { id = item.IdCliente }, new { @class = "editar" }) |
                                                    @Html.ActionLink("Desactivar", "Desactivar", new { id = item.IdCliente, idEstado = item.Estado }, new { @class = "desactivar" })
                                                </td>
                                            }
                                        </tr>
                                    }
                                </tbody>
                            </table>

                        </div>
                        <!-- end widget content -->

                    </div>
                    <!-- end widget div -->

                </div>

            </article>
            <!-- WIDGET END -->

        </div>

        <!-- end row -->
        <!-- end row -->

    </section>
    <!-- end widget grid -->

</div>

@section pagespecific {
    <script src="<../../Scripts/datatables/init.js"></script>

    <script type="text/javascript">

        // DO NOT REMOVE : GLOBAL FUNCTIONS!

        $(document).ready(function () {



            $("#nuevo").click(function () {
                $('#content').waitMe({
                    effect: 'bounce',
                    text: '',
                    bg: 'rgba(255, 255, 255, 0.1)',
                    color: '#ff5722'
                });
            });

            $("#butoon").click(function () {
                $('#content').waitMe({
                    effect: 'bounce',
                    text: '',
                    bg: 'rgba(255, 255, 255, 0.1)',
                    color: '#ff5722'
                });
            });

            $('a.editar').click(function () {
                $('#content').waitMe({
                    effect: 'bounce',
                    text: '',
                    bg: 'rgba(255, 255, 255, 0.1)',
                    color: '#ff5722'
                });
            });

            $("a.perfil").click(function () {
                $('#content').waitMe({
                    effect: 'bounce',
                    text: '',
                    bg: 'rgba(255, 255, 255, 0.1)',
                    color: '#ff5722'
                });
            });

            $("a.activar").click(function () {
                $('#content').waitMe({
                    effect: 'bounce',
                    text: '',
                    bg: 'rgba(255, 255, 255, 0.1)',
                    color: '#ff5722'
                });
            });

            $("a.desactivar").click(function () {
                $('#content').waitMe({
                    effect: 'bounce',
                    text: '',
                    bg: 'rgba(255, 255, 255, 0.1)',
                    color: '#ff5722'
                });
            });


        })

    </script>




}
