@model WebVentas.ObjectModel.VendedorRequest


<fieldset>
    <div class="row">
        <input name="IdUsuario" type="hidden" value="@Model.IdUsuario" />
        <input name="IdVendedor" type="hidden" value="@Model.IdVendedor" />
        <input name="IdSupervisor" type="hidden" value="@Model.IdSupervisor" />
        <input name="TiempoSeguimiento" type="hidden" value="@Model.TiempoSeguimiento" />



        <section class="col col-4">
            <label>@Html.DisplayNameFor(model => model.Nombres)</label>

            <label class="input">
                <input name="Nombres" class="form-control" type="text" pattern="[a-zA-ZñÑáéíóúÁÉÍÓÚ\s]+"  value="@Model.Nombres" required />
            </label>
        </section>

        <section class="col col-4">
            <label>@Html.DisplayNameFor(model => model.Apellidos)</label>

            <label class="input">
                <input name="Apellidos" class="form-control" type="text" pattern="[a-zA-ZñÑáéíóúÁÉÍÓÚ\s]+"  value="@Model.Apellidos" required />
            </label>
        </section>

        <section class="col col-4">
            <label>@Html.DisplayNameFor(model => model.Identificacion)</label>

            <label class="input">
                <input name="Identificacion" class="form-control" type="text" pattern="[^ ]*[a-zA-ZñÑáéíóúÁÉÍÓÚ0-9]+" value="@Model.Identificacion" required />
            </label>
        </section>

    </div>

    <div class="row">
        <section class="col col-4">
            <label>@Html.DisplayNameFor(model => model.Direccion)</label>

            <label class="input">
                <input name="Direccion" class="form-control" type="text" pattern="[0-9a-zñÑáéíóúÁÉÍÓÚA-Z\s]+" value="@Model.Direccion" required />
            </label>
        </section>

        <section class="col col-4">
            <label>@Html.DisplayNameFor(model => model.Telefono)</label>

            <label class="input">
                <input name="Telefono" class="form-control" type="text" pattern="[0-9 ]+" data-mask="9999999999" value="@Model.Telefono" required />
            </label>
        </section>

        <section class="col col-4">
            <label>@Html.DisplayNameFor(model => model.Correo)</label>

            <label class="input">
                <input name="Correo" class="form-control" type="email" pattern="[a-zñÑA-Z0-9._%+-]+@("@")[a-z0-9.-]+.[a-zñÑA-Z]{2,3}" placeholder="alguien123@("@").dirección.com" value="@Model.Correo" required />
            </label>
        </section>

        <section class="col col-4">
            <label>Seleccionar foto...</label>
            <div class="input input-file">
                <input name="fileUpload" type="file" value="Seleccionar logo" onchange="loadFile(event)" >
                <script>
                    var imgByte;
                    var loadFile = function (event) {
                        var output = document.getElementById('output');
                        output.data = URL.createObjectURL(event.target.files[0]);
                        document.getElementById("fotocliente").style.visibility = "visible";
                    };

                </script>
            </div>
        </section>

    </div>

    <div class="row">

        <section class="col col-4">
            <label>&nbsp;</label>

            <section class="input" id="fotocliente">
                <object id="output" height="400px;" width="400px;" type="" style="background-size:100% 100%;background-image:url('@Model.Foto');"></object>
            </section>

        </section>

    </div>

</fieldset>

<script>
    
</script>
