@model  WebVentas.ObjectModel.VendedorRequest
@{
    ViewBag.Title = "Home";
}


<script src="~/Scripts/jquery-1.9.1.min.js"></script>
<link href="~/Content/bootstrap.min.css" rel="stylesheet" />
<script src="~/Scripts/bootstrap.min.js"></script>
<script src="~/Scripts/jquery.signalR-2.2.0.min.js"></script>
<script src="~/signalr/hubs"></script>
<script src="~/Scripts/chat.js"></script>
<script src="~/Scripts/jquery-3.2.1.min.js"></script>
<script src="~/Scripts/jquery-3.2.1.js"></script>
<script src="~/Scripts/jquery-1.10.2.js"></script>
<script src="~/Scripts/jquery-1.10.2.min.js"></script>
<script src="~/Scripts/jquery-1.11.1.js"></script>
<script src="~/Scripts/jquery-1.11.1.min.js"></script>
<script src="~/Scripts/jquery-2.1.1.js"></script>
<script src="~/Scripts/jquery-2.1.1.min.js"></script>

<link href="~/Content/css/Personalizado.css" rel="stylesheet" />

<style>
    #map_container {
        position: relative;
    }

    #map {
        height: 0;
        overflow: hidden;
        padding-bottom: 40.25%;
        padding-top: 30px;
        position: relative;
    }
</style>



<style>
    #map_container {
        position: relative;
    }

    #map {
        height: 0;
        overflow: hidden;
        padding-bottom: 35.25%;
        padding-top: 10px;
        position: relative;
    }
</style>
<div id="content">
    <p></p>
    <a href="../../vendedores/perfilvendedor?idVendedor=@Model.IdVendedor" id="regresar" type="bt" title="Regresar" class="btn btn-default butoon"><i class="glyphicon glyphicon-arrow-left"></i></a>
    <p></p>
    <div class="row">
        <div class="col-sm-12">



            @Html.HiddenFor(model => model.IdVendedor)

            <!-- widget grid -->
            <section id="widget-grid" class="">
                <!-- row -->
                <div class="row">
                    <!-- NEW WIDGET START -->
                    <article class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                        <!-- Widget ID (each widget will need unique ID)-->
                        <div class="jarviswidget personalizado-table" id="wid-id-0" data-widget-editbutton="false">

                            <header>
                                <span class="widget-icon"> <i class="fa fa-table"></i> </span>

                                <h2>@Model.NombreApellido</h2>
                            </header>
                            <!-- widget div-->

                            <div class="row">

                                <div class="col-sm-12">

                                    <div class="row">

                                        <div class="col-sm-3 profile-pic">
                                            <img src="@Model.Foto"  alt="demo user">
                                        </div>
                                        <div class="col-sm-6">
                                            <h1>
                                                <span class="semi-bold">@Model.NombreApellido</span>
                                                <br>
                                                <small> @Model.Identificacion</small>
                                            </h1>

                                            <ul class="list-unstyled">
                                                <li>
                                                    <p class="text-muted">
                                                        <i class="fa fa-phone"></i>&nbsp;&nbsp;<span class="txt-color-darken">@Model.Telefono</span> 
                                                    </p>
                                                </li>
                                                <li>
                                                    <p class="text-muted">
                                                        <i class="fa fa-envelope"></i>&nbsp;&nbsp;<a>@Model.Correo</a>
                                                    </p>
                                                </li>
                                               
                                            </ul>

                                        </div>


                                    </div>

                                </div>

                            </div>


                            <!-- end widget div -->
                        </div>

                    </article>
                    <!-- WIDGET END -->
                </div>
                <!-- end row -->
                <!-- end row -->
            </section>

            

            <section id="widget-grid" class="">
                <div class="row">
                    <article class="col-sm-12 col-md-12 col-lg-12">
                        <div class="jarviswidget" id="wid-id-1" data-widget-editbutton="false" data-widget-deletebutton="false" data-widget-fullscreenbutton="false" data-widget-close="false" data-widget-custombutton="false">
                            <header draggable="true">
                                <span class="widget-icon"> <i class="fa fa-map-marker"></i></span>
                                <h2></h2>

                            </header>
                            <div>
                                <div class="jarviswidget-editbox">
                                </div>
                                <div class="widget-body no-padding">
                                    <fieldset>
                                        <div class="row">
                                            <div class="col-sm-12">


                                                <div id="map_container"></div>
                                                <div id="map"></div>
                                            </div>
                                        </div>
                                    </fieldset>
                                </div>
                            </div>
                        </div>
                    </article>
                </div>
            </section>
            <footer></footer>


        </div>
    </div>
</div>

<script>
    var map;
    var vendedor = $("#IdVendedor").val();

    function initMap() {
        var map = new google.maps.Map(document.getElementById('map'), {
            center: { lat: -0.170208, lng: -78.480866 },
            zoom: 15
        });

        // Try HTML5 geolocation.
        //geoLocation(map);
    }

    function geoLocation(map) {
        var infoWindow = new google.maps.InfoWindow({ map: map });
        if (navigator.geolocation) {
            navigator.geolocation.getCurrentPosition(function (position) {
                var pos = {
                    lat: position.coords.latitude,
                    lng: position.coords.longitude
                };

                infoWindow.setPosition(pos);
                infoWindow.setContent('Posici&oacute;n actual');
                map.setCenter(pos);
            }, function () {
                handleLocationError(true, infoWindow, map.getCenter());
            });
        } else {
            // Browser doesn't support Geolocation
            handleLocationError(false, infoWindow, map.getCenter());
        }
    }
    function handleLocationError(browserHasGeolocation, infoWindow, pos) {
        infoWindow.setPosition(pos);
        infoWindow.setContent(browserHasGeolocation ?
            'Error: The Geolocation service failed.' :
            'Error: Your browser doesn\'t support geolocation.');
    }
</script>

<script async defer
        src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBIBkXjci-D1Gog6Ez_BkpJcdtEnO1XsBA&libraries=places&callback=initMap">
</script>

